<nav id="menu" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button id='celMenu' type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            <a class="navbar-brand" href="/">Telia</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#about" class="page-scroll ">Acerca De</a></li>
                <li><a href="#footer" class="page-scroll">Contactos</a></li>
                <li><a href="#portfolio" class="page-scroll">Galeria</a></li>
                <li><a href="/registro" class="page-scroll">Registrate</a></li>
                <li><a href="/inicioSesion" class="page-scroll">Inicia Sesion</a></li>
            </ul>
        </div>
    </div>
</nav>