<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <form class="login100-form validate-form" id='fomr_Registro' method='POST' action='/registro/guardar'>
                <span class="login100-form-title p-b-50">
                    Registrate
                </span>

                <div class="wrap-input100 validate-input" data-validate="Ingrese Cedula">
                    <input class="input100" type="text" name="cedula">
                    <span class="focus-input100"></span>
                    <span class="label-input100">Cedula</span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Ingrese Apellidos">
                    <input class="input100" type="text" name="apellido">
                    <span class="focus-input100"></span>
                    <span class="label-input100">Apellidos</span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Ingrese Nombres">
                    <input class="input100" type="text" name="nombre">
                    <span class="focus-input100"></span>
                    <span class="label-input100">Nombres</span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Ingrese Direccion">
                    <input class="input100" type="text" name="direccion">
                    <span class="focus-input100"></span>
                    <span class="label-input100">Direccion</span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Ingrese email ejemplo@abc.xyz">
                    <input class="input100" type="text" name="correo">
                    <span class="focus-input100"></span>
                    <span class="label-input100">Correo</span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Ingrese Clave">
                    <input class="input100" type="password" name="clave">
                    <span class="focus-input100"></span>
                    <span class="label-input100">Clave</span>
                </div>


                <div class="container-login100-form-btn">
                    <button class="login100-form-btn">
                        Registrar
                    </button>
                </div>

                <div class="text-center p-t-10 p-b-20">
                    <span class="txt2">
                        si tienes cuenta <a href="/inicioSesion">Inicia Sesion</a>
                    </span>
                </div>
            </form>

            <div class="login100-more" style="background-image: url('login/images/login5.jpg');"></div>
        </div>
    </div>
</div>