<footer class="footer-area section-gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-6 col-sm-6 social-widget">
                <div class="single-footer-widget">
                    <h6>AQUI VA EL FOOTER</h6>
                    <p class="cb">Let us be social</p>
                    <div class="footer-social d-flex align-items-center">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                        <a href="#"><i class="fa fa-behance"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>