<div id="footer">
    <div class="container text-center">
        <div class="col-md-4">
            <h3>Direccion</h3>
            <div class="contact-item">
                <p>San Cayetano Alto, </p>
                <p>Calle París, Loja </p>
            </div>
        </div>
        <div class="col-md-4">
            <h3>Horas de Atencion</h3>
            <div class="contact-item">
                <p>Lunes-Jueves: 10:00 AM - 11:00 PM</p>
                <p>Viernes-Sabado: 11:00 AM - 02:00 AM</p>
            </div>
        </div>
        <div class="col-md-4">
            <h3>Informacion de Contactos</h3>
            <div class="contact-item">
                <p>Telefono: (07) 370-1444</p>
                <p>Correo  : telia@gmail.com</p>
            </div>
        </div>
    </div>
    <div class="container-fluid text-center copyrights">
        <div class="col-md-8 col-md-offset-2">
            <div class="social">
                <ul>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                </ul>
            </div>
            <p>&copy; Siguenos en nuestras redes sociales <a href="/"
                    rel="nofollow">TELIA</a></p>
        </div>
    </div>