<!-- start banner Area -->
<section class="banner-area relative" id="home">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row fullscreen d-flex align-items-center justify-content-center">
            <div class="banner-content col-lg-8">
                <h1 class="text-white">
                    Telia
                </h1>
                <p class="pt-20 pb-20 text-white">
                    El Teatro es poesia que sale del libro para hacerse Humana
                </p>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->

<!-- Start feature Area -->
<section class="feature-area pb-100" id="service">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <a href="/verActores">
                    <div class="single-feature">
                        <span class="lnr lnr-mustache"></span>
                        <h4>
                            Elenco
                        </h4>
                        <p>
                            Nuestro Elenco, nuestros actores
                        </p>
                    </div>
                </a>
            </div>
            <div class="col-lg-4">
                <a href="/galeria">
                    <div class="single-feature">
                        <span class="lnr lnr-picture"></span>
                        <h4>
                            Galeria
                        </h4>
                        <p>
                            El arte capturado en imagenes!
                            Observa nuestra Galeria
                        </p>
                        <p>Sobre Tablas, Obras, Noticias.</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-4">
                <a href="/noticia">
                    <div class="single-feature">
                        <span class="lnr lnr-chart-bars"></span>
                        <h4>
                            Noticias
                        </h4>
                        <p>
                            Aqui podemos ver las novedades concercientes a nuestra agrupacion, ademas ponemos novedades,
                            y nuevas funciones ;)
                        </p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- End feature Area -->