<div class="limiter">
    <div class="container-login100 ">
        <div class="wrap-login100 ">
            <div class="login100-more col-lg-6 col-md-6" style="background-image: url(../img/intro-obra.jpg);">
            </div>
            <form class=" login100-form  col-lg-6 col-md-6" id='fomr_Registro' method='POST'
                action='/registro/guardarObra' enctype="multipart/form-data">
                <h3 class="mb-30">Agregar Obra</h3>
                <div class="mt-10">
                    <input type="text" name="nombre" placeholder="Nombre de la obra" onfocus="this.placeholder = ''"
                        onblur="this.placeholder = 'Nombre de la Obra'" required class="single-input">
                </div>
                <div class="input-group-icon mt-10">
                    <div class="form-select" id="default-select">
                        <select name="multimedia" id="tipoMult" onchange="OnChange()">
                            <option class="in2">-- Tipo de Multimedia --</option>
                            <option class="in2" value='1'>Video</option>
                            <option class="in2" value='0'>Imagen</option>
                        </select>
                    </div>
                </div>
                <div id='video' style="display:none" class="mt-10">
                    <input type="url" name="Video" placeholder="URL" onfocus="this.placeholder = ''"
                        onblur="this.placeholder = 'url'" class="single-input">
                </div>

                <div class="text-center" id="vistaPrevia" style="display:none">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/0/0a/Teatro.svg"
                        class="avatar img-circle img-thumbnail" alt="avatar">
                    <br>
                </div>

                <div id='foto' style="display:none" class="text-center">
                    <br>
                    <label for="archivo" class="genric-btn primary small">
                        <span>Agregar Foto</span>
                        <input type="file" id="archivo" name="archivo" style="display:none"
                            class="text-center center-block file-upload">
                    </label>
                </div>

                <div class="mt-10">
                    <input type="text" name="autor" placeholder="Autor" onfocus="this.placeholder = ''"
                        onblur="this.placeholder = 'Autor'" required class="single-input">
                </div>

                <div class="mt-10">
                    <span>Fecha de Estreno</span>
                    <br>
                    <input type="date" name="fecha" placeholder="Fecha de Nacimiento"
                        onfocus="this.placeholder = 'Fecha de Nacimiento'"
                        onblur="this.placeholder = 'Fecha de Nacimiento'" required class="single-input">
                </div>

                <div class="mt-10">
                    <span>Hora</span>
                    <br>
                    <input type="time" name="hora" class="single-input" aria-describedby="horaHelp"
                        placeholder="Ingrese la hora" required>
                </div>

                <div class="mt-10">
                    <input type="text" name="lugar" placeholder="Lugar de estreno" onfocus="this.placeholder = ''"
                        onblur="this.placeholder = 'Lugar de estreno'" required class="single-input">
                </div>

                <div class="mt-10">
                    <input type="text" name="precio" placeholder="Precio del boleto" onfocus="this.placeholder = ''"
                        onblur="this.placeholder = 'Precio del bolet'" required class="single-input">
                </div>
                <div class="input-group-icon mt-10">
                    <div class="form-select" id="default-select">
                        <select name="genero" id="genero" onchange="OnChange()">
                            <option class="in2" value='SinGenero'>-- Genero --</option>
                            <option class="in2" value='Tragedia'>Tragedia</option>
                            <option class="in2" value='Comedia'>Comedia</option>
                            <option class="in2" value='Drama'>Drama</option>
                            <option class="in2" value='Tragicomedia'>Tragicomedia</option>
                            <option class="in2" value='Monologo'>Monologo</option>
                        </select>
                    </div>
                </div>
                <div class="mt-10">
                    <textarea name="descripcion" rows="4" placeholder="Descripción" onfocus="this.placeholder = ''"
                        onblur="this.placeholder = 'Descripción'" required class="single-input"></textarea>
                </div>
                <br>
                <div class="container-login100-form-btn">
                    <button class="login100-form-btn">
                        Registrar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>


<script>

    function OnChange() {
        var tipo = $('#tipoMult').val();
        if (tipo == 1) {
            console.log('video');
            $('#foto').css("display", "none");
            $('#vistaPrevia').css("display", "none");
            $('#video').css("display", "block");
        } else if (tipo == 0) {
            $('#foto').css("display", "block");
            $('#vistaPrevia').css("display", "block");
            $('#video').css("display", "none");
        } else {
            $('#foto').css("display", "none");
            $('#video').css("display", "none");
            $('#vistaPrevia').css("display", "none");
        }
    }

</script>
<script>
    $(document).ready(function () {
        var readURL = function (input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('.avatar').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }
        $(".file-upload").on('change', function () {
            readURL(this);
        });
    });
</script>